{
    "$schema": "http://json.schemastore.org/prettierrc",
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "printWidth": 88
}